header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 79px;
  border-bottom: 1px solid rgb(217, 242, 245);
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  width: 48px;
  height: 43px;
}

.menu__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu__flex-last {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}

.header__p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.83px;
  color: rgb(54, 52, 52);
  margin-left: 10px;
}

.p__site {
  color: rgb(40, 113, 163);
  font-size: 16px;
  margin-bottom: -20px;
}

.info__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 120px;
}

.info__img {
  width: 22px;
  height: 22px;
}

.p__phone {
  color: rgb(36, 107, 161);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40.25px;
}

.p__email {
  color: rgb(36, 107, 161);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.83px;
  margin-bottom: -30px;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  margin-top: 10px;
  margin-left: 315px;
  margin-right: 755px;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  margin-left: 315px;
}

.main-info__p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.main-info__button {
  width: 298px;
  height: 67px;
  background: linear-gradient(178.2deg, #1fd8ee -46.57%, #1fc3ee 158.2%);
  border: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 4px;
}

.differences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1041px;
  height: 307px;
  margin-top: 300px;
}

.differences__title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(19, 187, 207);
}

.differences__text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(54, 52, 52);
}

.differences__flex-item {
  flex: 1;
  flex-basis: 50%;
  width: 500px;
  height: 150px;
  margin-bottom: 50px;
}

.input__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 150px;
}

.input__box {
  width: 788px;
  height: 690px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

.input__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-input {
  width: 214px;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgb(168, 168, 168);
  color: rgb(168, 168, 168);
}

.custom-input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(196, 196, 196);
}

.custom-input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(196, 196, 196);
}

.custom-input:focus {
  outline: none;
  color: rgb(54, 52, 52);
}

.custom-input[type=number]::-webkit-inner-spin-button,
.custom-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.custom-input-sizeL {
  width: 492px;
  height: 40px;
}

.custom-input-sizeS {
  width: 123px;
  height: 40px;
}

.custom-textarea {
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgb(168, 168, 168);
  color: rgb(168, 168, 168);
  resize: none;
}

.custom-textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(196, 196, 196);
}

.custom-textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(196, 196, 196);
}

.custom-textarea:focus {
  outline: none;
  color: rgb(54, 52, 52);
}

.custom-button {
  width: 230px;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 27px;
}

.input-link {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.input__flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.input__checkbox {
  border: rgb(168, 168, 168);
  border-radius: 4px;
}

.input__checkbox-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(168, 168, 168);
}

.custom-link {
  color: rgb(168, 168, 168);
}

.about {
  width: 100%;
  height: 451px;
  margin-top: 114px;
  background-image: url(/img/aboutBg.png);
  padding-top: 20px;
}

.about__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
}

.about__blocks-item {
  width: 167px;
  height: 101px;
  flex: 1 2 auto;
  box-sizing: border-box;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding-left: 26px;
}

.about__blocks-item-special {
  width: 399px;
  flex: 2 1 auto;
  box-sizing: border-box;
}

.about__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 399px;
  height: 227px;
  padding-top: 17px;
}

.about__blocks-title {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 0;
  margin-top: 13px;
  color: rgb(40, 113, 163);
}

.about__blocks-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(54, 52, 52);
  word-wrap: break-word;
}

.about__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 33.4px;
  color: rgb(54, 52, 52);
}

.reviews__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
  word-wrap: break-word;
}

.reviews__arrow {
  width: 19px;
  height: 34px;
  background-image: url(/img/arrow-left.png);
  cursor: pointer;
  z-index: 100;
}

.reviews__arrow-right {
  transform: rotate(180deg);
  z-index: 100;
}

.reviews__point-inactive {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
}

.reviews__point-active {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(31, 216, 238);
  border-radius: 50%;
}

.reviews__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 55px;
}

.reviews__slider {
  margin-top: 55px;
  width: 609px;
}

.slider {
  width: 609px;
}

.slide {
  width: 609px;
  height: 379px;
  background-image: url(/img/reviews.png);
}

.slide-hidden {
  display: none;
}

.price {
  background-image: url(/img/priceBG.png);
  width: 100%;
  height: 658px;
  margin-top: 96px;
  padding-top: 62px;
}

.price__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.price__blocks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 42px 360px 0 360px;
}

.price__blocks-item {
  width: 23.7%;
  height: 152px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 13px 44px 0px rgba(0, 0, 0, 0.07);
}

.price__blocks-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.price__blocks-criteria {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(168, 168, 168);
}

.price__blocks-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 44px;
}

.price__button {
  width: 298px;
  height: 67px;
  margin: 0 auto;
  margin-top: 24px;
}

.stages {
  margin-top: 93px;
}

.stages__blocks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 55px 307px 0 307px;
}

.stages__blocks-item {
  width: 30%;
  height: 120px;
  background-color: white;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.stages__blocks-item:nth-child(3) {
  margin-right: 0;
}

.stages__blocks-item:nth-child(6) {
  margin-right: 0;
}

.stages__blocks-item:nth-child(7) {
  margin-right: 0;
}

.stages__text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 33px;
}

.stages__img {
  margin-left: 40px;
}/*# sourceMappingURL=style.css.map */